.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.searchBar {
  flex: 1;
  padding: 0.6rem 1rem;
  border: 1px solid #6a6a6a;
  border-radius: 8px;
  background: #ffffff;
  color: #2d2929;
}

.dropdown {
  padding: 0.6rem 1rem;
  border: 1px solid #6a6a6a;
  border-radius: 8px;
  background: #ffffff;
  color: #0004e5;
  font-weight: 600;
  cursor: pointer;
}
