.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #1bbbff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  position: relative;
}

.navbar_logo img {
  object-fit: contain;
}

.navbar_items{
  display: flex;
  gap: 1rem;
  color: rgb(255, 255, 255);
}