.imagesSlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--windowWidth);
  height: calc(var(--windowWidth) * 50 / 100);
  position: relative;
}

.imagesSlider_slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  width: var(--windowWidth);
  height: calc(var(--windowWidth) * 50 / 100);
  border-radius: 20px;
  overflow: hidden;
}

.imagesSlider_slide img {
  object-fit: cover;
}

.imagesSlider_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(var(--windowWidth) * 50 / 100);
  position: absolute;
  z-index: 10;
  padding: 0px 10px;
  cursor: pointer;
}

.imagesSlider_button_left {
  left: 0px;
  top: 0px;
}

.imagesSlider_button_right {
  right: 0px;
  top: 0px;
}

.imagesSlider_button svg {
  width: calc(var(--fontSize) + 50px);
  height: calc(var(--fontSize) + 50px);
  color: var(--background);
}
