.blogsCards {
  --cardWidth: 260px;
}

@media only screen and (min-width: 600px) {
  .blogsCards {
    --cardWidth: 280px;
  }
}

@media only screen and (min-width: 768px) {
  .blogsCards {
    --cardWidth: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .blogsCards {
    --cardWidth: 320px;
  }
}

.blogsCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--windowWidth);
  padding-top: 20px;
  padding-bottom: 20px;
}

.blogsCards_searchSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--windowWidth);
}

.blogsCards_searchSection input[type="text"] {
  outline: none;
  border: 1px solid var(--borders);
  border-radius: 10px;
  width: calc((var(--windowWidth) * 50 / 100) - 20px);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--background);
}

.blogsCards_searchSection input[type="text"]:focus {
  border: 1px solid rgba(var(--rgbColorFg), 1);
}

.blogsCards_searchSection select {
  outline: none;
  border: 1px solid var(--borders);
  border-radius: 10px;
  width: calc((var(--windowWidth) * 35 / 100) - 20px);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--background);
}

.blogsCards_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(var(--windowWidth) - 20px);
  flex-wrap: wrap;
  overflow-x: hidden;
  gap: 30px;
  margin-top: 20px;
  padding: 10px;
}

.blogsCards_cards_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: var(--cardWidth);
  height: calc(var(--cardWidth) * 110 / 100);
  cursor: pointer;
  box-shadow: 2px 2px 10px 4px rgba(var(--rgbColorSc), 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.blogsCards_cards_card:hover {
  transform: translateY(-5px);
}

.blogsCards_cards_card_thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--cardWidth);
  height: calc(var(--cardWidth) - 140px);
}

.blogsCards_cards_card_thumbnail p:nth-of-type(1) {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--background);
  font-weight: 500;
  backdrop-filter: blur(5px);
}

.blogsCards_cards_card_thumbnail p:nth-of-type(2) {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-right-radius: 10px;
  background-color: var(--secondary);
  color: var(--background);
  font-weight: 500;
  backdrop-filter: blur(5px);
}

.blogsCards_cards_card_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(var(--cardWidth) - 20px);
  padding: 10px;
  gap: 10px;
}

.blogsCards_cards_card_content_title {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: calc(var(--fontSize) + 4px);
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--foreground);
}

.blogsCards_cards_card_content_description {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: var(--fontSize);
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--secondary);
}

.blogsCards_cards_card_content hr {
  width: calc(var(--cardWidth) - 20px);
  height: 2px;
  background-color: rgba(var(--rgbColorFg), 0.6);
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blogsCards_cards_card_content_author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.blogsCards_cards_card_content_author_pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--fontSize) + 15px);
  height: calc(var(--fontSize) + 15px);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--borders);
  background-color: var(--secondary);
  color: var(--background);
  font-weight: 800;
  font-size: calc(var(--fontSize) + 2px);
  text-transform: uppercase;
}

.blogsCards_cards_card_content_author p {
  color: var(--foreground);
  font-size: calc(var(--fontSize) + 4px);
  font-weight: 500;
}

.blogsCards_cards_card_content_author_pfp img {
  object-fit: cover;
}

@media only screen and (min-width: 1024px) {
  .blogsCards_searchSection select {
    width: calc((var(--windowWidth) * 15 / 100) - 20px);
  }

  .blogsCards_cards {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
}
