.socialLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 50px;
  border: 2px solid rgba(var(--rgbColor4), 0.6);
  border-radius: 10px;
  cursor: pointer;
  background-color: aliceblue;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.socialLogin:hover {
  border-color: rgb(226, 242, 255);
}

.socialLogin svg {
  width: 20px;
  height: 20px;
}

.socialLogin span {
  font-size: 15px;
  font-weight: bold;
  color: rgb(11, 13, 15);
}
