.page {
  color: #f5f5f5;
  min-height: 100vh;
}

.mainContent {
  padding: 2rem 6rem;
}

.headingData {
  color: #aaa;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.editIcons{
  position: absolute;
  z-index: 99999;
  padding: 0.2rem;
  display: flex;
  gap: 0.3rem;
}

.sign{
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 5rem;
}

.addBlog{
  background-color: rgb(128, 220, 254);
  height: 22rem;
}

@media (max-width: 1024px) {
  .mainContent {
    padding: 2rem 3rem;
  }

}

@media (max-width: 768px) {
  .mainContent {
    padding: 1.5rem;
  }

  .headingData {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }

  .cardsContainer {
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  }
}

@media (max-width: 480px) {
  .mainContent {
    padding: 1rem;
  }

  .headingData {
    font-size: 0.85rem;
  }
}
