.login{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.logo{
    object-fit: contain;

}

.form{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 85%;
    max-width: 400px;
}

.input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.5rem;
}

.input input{
    width: 100%;
    padding: 0.4rem;
    border: none;
    border-radius: 30px;
    font-size: 0.8rem;
}

.button{
    width: 100%;
}

.button button{
    padding: 0.5rem 1rem;
    background-color: #0a0c10;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}


.signup{
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: small;
    color: rgb(255, 255, 255);
}

.divider {
  display: flex;
  align-items: center;
  width: 80%;
  color: white;
  font-size: 0.75rem;
  margin: 1rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
}

.divider span {
  padding: 0 12px;
  white-space: nowrap;
}


.password{
    width: 100%;
}

.option {
    margin-top: 1rem;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;

}

.remember {
    font-size: small;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.forgot {
    font-size: small;
    cursor: pointer;
    color: white;
    white-space: nowrap;
}

.forgot:hover {
    text-decoration: underline;
}
