.eventsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--borders);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.eventsButton svg {
  width: calc(var(--fontSize) + 8px);
  height: calc(var(--fontSize) + 8px);
  color: var(--secondary);
}

.upcomingEvents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 41px;
  right: 0px;
  padding: 30px;
  padding-top: 40px;
  animation: slide 0.5s ease-in-out;
  min-height: calc(100dvh - 41px - 70px);
  max-height: calc(100dvh - 41px - 70px);
  border-bottom-left-radius: 20px;
  overflow-y: auto;
  background-color: var(--background);
  z-index: 10;
  gap: 20px;
}

.upcomingEvents_closeButton {
  position: fixed;
  right: 10px;
  color: var(--secondary);
  cursor: pointer;
  top: 61px;
}

.upcomingEvents_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.upcomingEvents_cards_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 300px;
  border-bottom: 2px solid var(--borders);
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  gap: 5px;
}

.upcomingEvents_cards_card_thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-height: 150px;
  max-height: 150px;
  position: relative;
}

.upcomingEvents_cards_card_thumbnail img {
  object-fit: cover;
}

.upcomingEvents_cards_card h3 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.upcomingEvents_cards_card_date {
  font-size: var(--fontSize);
  color: var(--secondary);
  font-weight: 700;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.upcomingEvents_cards_card_location {
  font-size: var(--fontSize);
  color: var(--secondary);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.upcomingEvents_cards_card a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background-color: var(--color3);
  color: var(--background);
  border-radius: 10px;
  font-weight: 800;
  margin-top: 10px;
}

@media only screen and (min-width: 1024px) {
  .upcomingEvents {
    top: 47px;
    height: calc(100dvh - 47px - 70px);
  }

  .upcomingEvents_cards_card {
    width: 320px;
  }

  .upcomingEvents_cards_card_thumbnail {
    width: 320px;
    height: 160px;
  }
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
