.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--windowWidth);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: calc((100dvw - var(--windowWidth)) / 2);
  padding-right: calc((100dvw - var(--windowWidth)) / 2);
  background-color: var(--secondary);
}

.nvabar_companyLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.nvabar_companyLogo p {
  font-size: calc(var(--fontSize) + 3px);
  font-weight: bold;
  color: var(--background);
  text-transform: uppercase;
  font-family: "Mokoto Glitch";
  margin-top: 5px;
  letter-spacing: -1px;
}

.nvabar_companyLogo_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--fontSize) + 10px);
  height: calc(var(--fontSize) + 10px);
  position: relative;
}

.navbar_loginButton {
  border: none;
  outline: none;
  padding: none;
  font-size: calc(var(--fontSize) + 2px);
  background-color: var(--background);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  color: var(--foreground);
  font-weight: bold;
}

.navbar_loginButton:hover {
  color: var(--foreground);
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nvabar_companyLogo span {
    margin-top: 7px;
  }

  .nvabar_companyLogo_logo {
    width: calc(var(--fontSize) + 14px);
    height: calc(var(--fontSize) + 14px);
  }
}
