.night {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  transform: rotateZ(-230deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgb(190, 211, 255), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(148, 182, 249));
  animation:
    tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(40% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::before {
  transform: translateX(50%) rotateZ(45deg);
}

.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) { top: calc(70%-80px); left: 30%; animation-delay: 1200ms; }
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after { animation-delay: 1200ms; }

.shooting_star:nth-child(2) { top: calc(70% - 80px); left: calc(100% - 50px); animation-delay: 2500ms; }
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after { animation-delay: 2500ms; }

.shooting_star:nth-child(3) { top: calc(70% + 100px); left: calc(40% - 180px); animation-delay: 6000ms; }
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after { animation-delay: 6000ms; }

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50rem);
  }
}