.night {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  transform: rotateZ(-230deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgb(190, 211, 255), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(148, 182, 249));
  animation:
    tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(40% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::before {
  transform: translateX(50%) rotateZ(45deg);
}

.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) { top: calc(80%-80px); left: 30%; animation-delay: 1200ms; }
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after { animation-delay: 1200ms; }

.shooting_star:nth-child(2) { top: calc(60% - 80px); left: calc(40% - 50px); animation-delay: 2500ms; }
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after { animation-delay: 2500ms; }

.shooting_star:nth-child(3) { top: calc(70% + 100px); left: calc(40% - 180px); animation-delay: 6000ms; }
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after { animation-delay: 6000ms; }

.shooting_star:nth-child(4) { top: calc(60% - 120px); left: calc(40% - 120px); animation-delay: 4200ms; }
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after { animation-delay: 4200ms; }



.shooting_star:nth-child(5) { top: calc(85% - 40px); left: calc(40% - 110px); animation-delay: 2900ms; }
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after { animation-delay: 2900ms; }

.shooting_star:nth-child(6) { top: calc(52% + 20px); left: calc(40% - 250px); animation-delay: 1500ms; }
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after { animation-delay: 1500ms; }


.shooting_star:nth-child(7) { top: calc(37% - 130px); left: calc(40% - 230px); animation-delay: 3100ms; }
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after { animation-delay: 3100ms; }


.shooting_star:nth-child(8) { top: calc(60% - 70px); left: calc(54% - 100px); animation-delay: 8100ms; }
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after { animation-delay: 8100ms; }

.shooting_star:nth-child(9) { top: calc(80% - 50px); left: calc(40% - 130px); animation-delay: 7200ms; }
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after { animation-delay: 7200ms; }

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50rem);
  }
}